Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug
python-dotenv
pymupdf
python-docx
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
faiss-cpu
sentence-transformers
gunicorn
psycopg2-binary