{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card fade-in mt-4">
            <a href="/" class="text-decoration-none text-muted mb-2 fs-6" style="transition: color 0.3s;" onmouseover="this.className='text-decoration-none text-info mb-2 fs-6'" onmouseout="this.className='text-decoration-none text-muted mb-2 fs-6'">&larr; Back to Home</a>
            
            <h3 class="text-center mb-4 font-weight-bold">Create <span class="text-gradient">Account</span></h3>
            <form method="POST" autocomplete="off">
                <input name="email" type="email" class="form-control mb-3 py-2" placeholder="Email Address" required autocomplete="off">
                <input 
                  name="password" 
                  type="password" 
                  class="form-control mb-4 py-2" 
                  placeholder="Password" 
                  required 
                  autocomplete="new-password"
                  minlength="8"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, and one number."
                >
                <button class="btn btn-primary w-100 py-2 fs-5">Send Verification OTP</button>
            </form>
            <div class="text-center mt-4">
                <p>Already have an account? <a href="/login" class="text-info text-decoration-none">Login</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}